.header {
  padding: 20px 0 0 0;
  background: transparent;
  margin-bottom: 10px;
}

.box {
  width: 100%;
  height: 57px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.userBox {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(249, 249, 249, 0.2);
  background: var(--one-gray);
}

.userName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--white);
}

.fullName {
  display: none;
}

.burgerBtn {
  display: block;
  background: transparent;
}

.burgerIcon {
  color: var(--white);
}

.logOutBtn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 32px 0 0 0;
    margin-bottom: 16px;
  }

  .box {
    width: 100%;
    height: 74px;
    padding: 16px;
  }

  .wrapper {
    gap: 16px;
  }

  .userBox {
    width: 40px;
    height: 40px;
  }

  .burgerBtn {
    display: none;
  }

  .logOutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 114px;
    height: 42px;
    border: 1px solid rgba(249, 249, 249, 0.2);
    background: transparent;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--white);
  }
}

@media only screen and (min-width: 1280px) {
  .fullNameBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .fullName {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--white);
  }

  .logOutBtn {
    width: 114px;
    height: 42px;
  }

  .logOutBtn:hover {
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
