*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark);
  font-family: 'Gilroy';
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--one-gray) inset !important;
  -webkit-text-fill-color: var(--white) !important;
  caret-color: var(--white) !important;
  transition: background-color 9999s ease-in-out 0s;
}

:root {
  /* Colors */
  --black: #1f1f1f;
  --dark: #141414;
  --gray: #686868;
  --dark-gray: rgba(227, 227, 227, 30%);
  --one-gray: #262626;
  --white: #f9f9f9;
  --green: #30b94d;
  --blue: #4f92f7;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
